{# Templates for ICanHaz / Mustache #}

{% load template_filters %}

{% verbatim %}

<script id="gear_table" type="text/html">
    <div class="table-wrapper">
        <table id="gear_table">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Description</th>
                    <th>Weight</th>
                    <th>Status</th>
                    <th></th>
                </tr>
            </thead>
            
            <tbody></tbody>
        </table>
    </div>
</script>

<script id="gear_item" type="text/html">
    <tr id="gear_{{ id }}" class="{{ status }}">
        <th id="{{ id }}_model">{{ model }} ({{ make }})</th>
        <td id="{{ id }}_description">{{ description }}</td>
        <td id="{{ id }}_weight">{{ weight }}</td>
        <td id="{{ id }}_status">{{ status }}</td>
        <td id="{{ id }}_action">Action</td>
    </tr>
</script>


{% endverbatim %}
